{

    "plugins": [
        "babel",
        "react"
    ],

    "parser": "babel-eslint",

    "env": {
        "node": true,
        "browser": true,
        "es6": true
    },

    "ecmaFeatures": {
        "jsx": true,
        "experimentalObjectRestSpread": true,
        "arrowFunctions": true,
        "blockBindings": true,
        "templateStrings": true,
        "objectLiteralComputedProperties": true,
        "objectLiteralShorthandMethod": true,
        "objectLiteralShorthandProperties": true,
        "modules": true,
        "classes": true,
        "defaultParams": true,
        "destructuring": true,
        "forOf": true,
        "generators": true,
        "regexUFlag": true,
        "regexYFlag": true,
        "restParams": true,
        "spread": true,
        "superInFunctions": true
    },

    "rules": {

        "comma-dangle": 0,
        "semi": [2, "always"],
        "no-console": 0,
        "no-unused-vars": [1, {"vars": "all", "args": "none"}],
        "no-dupe-keys": 2,
        "no-dupe-args": 2,
        "radix": 1,

        "camelcase": 1,
        "one-var": [1,  {
            "uninitialized": "always",
            "initialized": "never"
        }],
        "indent": [2, "tab", {"SwitchCase": 1}],
        "strict": 0,
        "react/display-name": 0,
        "react/jsx-no-undef": 2,
        "react/jsx-sort-props": 0,
        "react/jsx-uses-react": 2,
        "react/jsx-uses-vars": 2,
        "react/no-did-update-set-state": 2,
        "react/no-direct-mutation-state": 2,
        "react/no-multi-comp": 0,
        "react/no-unknown-property": 2,
        "react/react-in-jsx-scope": 2,
        "react/self-closing-comp": 2,
        "react/wrap-multilines": 2,
        "react/jsx-no-duplicate-props": 2
    }
}
